<div class="list-page-container">
  <h1>Listado de Personajes</h1>

  <div class="characters-container">
    @for (character of characters; track $index) {
      <div class="character-card" [style.--card-index]="$index" (click)="getToDetails(character.id)">
        <div class="card-background"></div>
        
        <div class="card-content">
          <h3>{{ character.nombre }}</h3>

          <!-- stopPropagation() evita que el click del botón "suba" al div padre (character-card)
          y dispare también el goToDetail(), ya que ambos comparten el mismo evento click -->
          <app-delete-character-component
            [id]="character.id"
            (deleted)="onDeleted(character.id)"
            (click)="$event.stopPropagation()">
          </app-delete-character-component>
        </div>
      </div>
    }
  </div>
</div>